<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>

        <main role="main">
            <div class="container">
                <h2>Vos commandes</h2>

                <% if (orders.length == 0) { %>
                    <p>Pas encore de commandes.</p>
                <% } else { %>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Product Id</th>
                                <th>Date</th>
                                <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% for (var i = 0; i < orders.length; i++) { %>
                                <tr>
                                    <td><%= orders[i]._id; %></td>
                                    <td><%= orders[i].product_id; %></td>
                                    <td><%= orders[i].creation_date; %></td>
                                    <td><%= orders[i].EUR_price; %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
                <hr>
            </div>
        </main>

        <% include ../partials/footer %>
    </body>
</html>